*.db
assets/external/
*.py[cod]
.web
__pycache__/

# Folders
page_bgs
projects_cards
qualifies
stack_icons
backend.zip
frontend.zip
/_next
/404
/assets
/portfolio
__init__.py
next.config.js
requirements.txt
rxconfig.py
/node_modules

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
